layout {

    focus-ring {
        active-color   "#0361a3"
        inactive-color "#faf9fc"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#0361a3"
        inactive-color "#faf9fc"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#0361a3"
        inactive-color "#d1e4ff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#0361a380"
    }
}

recent-windows {
    highlight {
        active-color "#0361a3"
        urgent-color "#ba1a1a"
    }
}
