layout {

    focus-ring {
        active-color   "#715d00"
        inactive-color "#fff8ef"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#715d00"
        inactive-color "#fff8ef"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#715d00"
        inactive-color "#ffe178"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#715d0080"
    }
}

recent-windows {
    highlight {
        active-color "#715d00"
        urgent-color "#ba1a1a"
    }
}
